.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80px;
	background: blue;
	transition: 0.5s;
	height: 100vh;
	z-index: 1000;
	white-space: nowrap;
	overflow: hidden;
}

.sidebar.active {
	width: 230px;
}

.sidebar .menu {
	background: lightseagreen;
	white-space: nowrap;
	flex-direction: row;
	display: flex;
	overflow: hidden;
}

/* .sidebar .btn {
	display: flex;
	align-items: center; 
	width: 50px;
	height: 50px;
	margin: 0px 15px;
	white-space: nowrap;
	transition: width 0.5s; 
} */

.sidebar .menu .img {
	position: fixed;
	left: 80px;
	flex: 1;
	background: lightgreen;
	width: 130px;
	height: 50px;
	/* width: calc(100% - 80px); */
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.1s;
	transition-delay: 0s;
}

.sidebar.active .menu .img {
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
	transition-delay: 0.3s;
}

.container {
	background: papayawhip;
}

.sidebar .sideButton {
	width: 50px;
	height: 50px;
	margin: 0px 15px;
}

.sidebar .btn {
	display: flex;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 0px 15px;
	transition: width 0.5s;
}

.sidebar .btn .btnContainer {
	display: flex;
	align-items: center;
}

.sidebar.active .btn {
	width: 200px;
}

.sidebar .btn .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
}

.sidebar .btn .btnLegend {
	flex: 1;
	background: lightblue;
	margin-left: 15px;
	/* opacity: 0; */
	transition: 0.1s;
	white-space: nowrap;
}

.sidebar.active .btn .btnLegend {
	opacity: 1;
	transition: 0.3s;
	transition-delay: 0.2s;
}

.footer {
	background: slateblue;
}
